body{
    background-color: #f0f0f0;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;

}

.barra{
    
}

.form{
    border: 9px solid rgb(24, 86, 133);
    width: 350px;
    heift: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(70, 190, 193);
}

.cont{
    padding: 0px;
    margin: 10px;
    margin-left: px;
}

